
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cv-container {
    width: 800px;
    background: white;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-section {
    width: 30%;
    background: #333;
    color: white;
    padding: 20px;
}
.left-section img {
    width: 100%;
    border-radius: 50%;
}
.right-section {
    width: 70%;
    padding: 20px;
}
h2 {
    color: #ff8800;
    border-bottom: 2px solid #ff8800;
}
summary, h1 {
    color:#ff8800 ;
}
.section {
    margin-bottom: 15px;
}
.contact-info, .skills, .hobbies {
    margin-top: 10px;
}
.a1 {
    font-size: 18px;
    text-decoration: underline;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
