#header {
    background-image: url(anh/images/header.jpg);
    height: 181px;
    width: 900px;
    margin-left: 20%;
    margin-right: 25%;
}

#logo {
    padding: 20px 0 0 50px;
}

#menu_top {
    margin-top: 55px;
    margin-left: 30px;
    background: #ffffff;
    height: 40px;
    opacity: 0.6;
    border-radius: 10px 0px 0px 10px;
}

.level li {
    display: inline;
    padding: 0 20px 0px 0px;
    font-weight: bold;
    float: left;
    height: 27px;
}



.level1 li  {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 0px;
    margin-left: 40px;

}

.level1 li a,
.level li a:visited {
    text-decoration: none;
    color: #ff0000;
}

.level1 li a:hover {
    color: #09750e;
}

.level2 {
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 5px;
}

.level1 li:hover> .level2 {
    display: block;
}

.level2 li {
    float: none;
    position: relative;
    display: block;
    padding: 10px;
    height: auto;
    background: #ccc;
}

.level2 li:hover {
    background: #CC0;
}